.container {
    padding: 10px;
}

form {
    display: grid;
    gap: 20px;
}

#save-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    grid-column: 2 / 3;
}

.save {
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 50px);
}